/* General */

* {
    margin: 0px;
    padding: 0px;
}

html {
    line-height: 3rem;
    background-color: #cce3ff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    background-color: #cce3ff;
    color: black;
}

p {
    font-size: 1.4rem;
}

.outer__wrapper {
    background-color: #e5f1ff;
    width: 80%;
    margin: auto;
}

.inner__wrapper {
    width: 70%;
    margin: auto;
}

.section__header {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

/* Banner */

.banner__div {
    margin: auto;
    text-align: center;
}

.banner__img {
    width: 80%;
    height: 70vh;
    object-fit: cover;  
    margin: auto;
}

/* Experience */

.experience__div {
    display: grid;
    grid-template-columns: 2fr 5fr;
}

.experience__icons {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 10rem;
    padding-bottom: 3rem;
}

.experience__text {
    padding-top: 3rem;
    padding-bottom: 3rem;
    width: 80%;
    margin-left: 20%;
}

/* Projects */

.projects__div {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.projects__grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    text-align: center;
    margin: auto;
}

.projects__grid p {
    width: 70%;
    margin: auto;
    text-align: left;
}

.projects__screenshots {
    width: 450px;
    height: 270px;
    object-fit: cover;
}

/* Contact */

.contact__div {
    padding-top: 3rem;
    padding-bottom: 3rem;
    font-size: 1rem;
}

.contact p {
    font-size: 1rem;
}

@media only screen and (max-width: 1200px) {
    .outer__wrapper {
        width: 100%;
    }
    
    .inner__wrapper {
        width: 70%;
    }

    .banner__img {
        width: 100%;
    }
}

@media only screen and (max-width: 800px) {
    .banner__img {
        height: 30vh;
    }

    .inner__wrapper {
        width: 90%;
    }

    .projects__screenshots {
        width: 70vw;
        object-fit: cover;
        margin: auto;
    }

    .projects__grid {
        display: block;
    }

    .projects__h4 {
        padding-top: 3rem;
        padding-bottom: 3rem;
        text-align: center;
        margin: auto;
    }

    .experience__icons {
        text-align: center;
        display: grid;
        grid-template-columns: 1fr;
    }
}