/* General */

* {
    margin: 0px;
    padding: 0px;
}

html {
    line-height: 3rem;
    background-color: #cce3ff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    background-color: #cce3ff;
    color: black;
}

p {
    font-size: 1.4rem;
}

.outer__wrapper {
    background-color: #e5f1ff;
    width: 80%;
    margin: auto;
}

.inner__wrapper {
    width: 70%;
    margin: auto;
}

.section__header {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

/* Banner */

.banner__div {
    margin: auto;
    text-align: center;
}

.banner__img {
    width: 80%;
    height: 70vh;
    object-fit: cover;  
    margin: auto;
}

/* Experience */

.experience__div {
    display: grid;
    grid-template-columns: 2fr 5fr;
}

.experience__icons {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 10rem;
    padding-bottom: 3rem;
}

.experience__text {
    padding-top: 3rem;
    padding-bottom: 3rem;
    width: 80%;
    margin-left: 20%;
}

/* Projects */

.projects__div {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.projects__grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    text-align: center;
    margin: auto;
}

.projects__grid p {
    width: 70%;
    margin: auto;
    text-align: left;
}

/* Contact */

.contact__div {
    padding-top: 3rem;
    padding-bottom: 3rem;
    font-size: 1rem;
}

.contact p {
    font-size: 1rem;
}